@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "skeleton";

@import "mixins";

@import "components/nav";
@import "components/filter";
@import "components/grid";
@import "components/table";
@import "components/form";
@import "components/card";
@import "components/user";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;

  background-color: #f5f7fa;
}

h2 {
  text-align: center;
}

h5, h6 {
  span {
    margin-left: 0.25em;
    color: #888;
  }
}

article {
  @include outer-container;
  @include pad(1.5em 0);
}

section {
  @include outer-container;
  @include pad(1.5em);

  &.small {
    width: 50%;
    margin: 0 auto;
  }
}

#content-wrap {
  padding-bottom: 1.5em;
}

.panel {
  &.panel-hero {
    position: relative;
    height: 600px;
    background-image: url('/img/hero-image.jpg');
    background-size: cover;

    &:after {
      @include position(absolute, 0 null null 0);
      @include size(100%);
      content: '';
      background: linear-gradient(to top, rgba($primary-color, 0.5) 0%, transparent 100%);
    }

    article {
      @include transform(translateY(-50%));
      position: relative;
      z-index: 2;
      top: 50%;
    }

    p {
      max-width: 50%;
      font-size: 1.25em;
      color: white;
      line-height: 1.25;
      text-shadow: 1px 1px 3px rgba(black, 0.25);
      margin-bottom: 0;
    }
  }

  h1 {
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 600;

    text-shadow: 1px 1px 6px rgba(black, 0.25);

  }
}

/* OVERWRITES */
.selectize-input {
  margin-bottom: 0;
  height: 38px !important;
  min-width: 180px;
  padding: 0.65em 14px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  background: #fcfcfc !important;
  border-color: #dadada !important;

  input {
    height: auto !important;
  }
}

.selectize-dropdown {
  border-color: #dadada !important;

  .option {
    padding: 0.5em 14px;
    font-size: 16px;
  }
}

.two.columns .selectize-input {
  min-width: 120px;
}
