.card {
  -webkit-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);

  position: relative;
  margin-bottom: 1.5em;
  background-color: white;

  cursor: pointer;

  overflow: hidden;

  &:hover .card-details {
    opacity: 1;
  }

  > form {
    margin: 0;
    padding: 1.5em;
  }
}

.card-quantity {
  @include position(absolute, 0 0 null null);
  background-color: $primary-color;
  padding: 0.5em 0.75em;
  color: white;
}

.card-map {
  @include size(300px 200px);
  float: left;
}

.card-route {
  @include calc(width, '100% - 300px');
  height: 200px;
  position: relative;
  float: left;
  padding: 1.5em;

  .card-actions {
    @include transition(250ms);
    left: auto;
    right: 0;
    opacity: 0;
  }

  &:hover .card-actions {
    opacity: 1;
  }
}

.card-routename {
  h5 {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  i {
    @include position(relative, -2px 0 0 0);
    margin: 0 0.25em;
    color: #888;
  }
}

.card-image {
  padding: 1.5em;
}

.card-image-container {
  @include size(100% 200px);
  background-size: cover;

  &.square {
    width: 200px;
  }

  &.larger {
    height: 400px;
  }

  &.bordered {
    border: 1px #dadada solid;
  }
}

.card-details {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  // cubic-bezier(0.37, 0, 0, 0.995)
  @include transition(250ms);
  background-color: rgba(white, 0.85);
  opacity: 0;
}

.card-actions {
  @include position(absolute, 0 null null 0);

  &.card-actions-primary {
    right: 1.5em;
    top: 1.5em;

    button:hover, .button:hover {
      color: white;
    }
  }

  button, .button {
    @include transition(250ms);

    border: none;
    padding: 0.75em;

    height: auto;
    line-height: 1;

    font-size: 1.25em;
    color: #888;

    &:hover {
      color: $font-color;
    }
  }

  .button-primary {
    font-size: 0.85em;
    color: white;

    i {
      @include position(-1px null null null);
    }

    span {
      margin-left: 0.5em;
    }
  }
}

.card-details-container {
  @include position(absolute, 50% null null 50%);
  @include transform(translateX(-50%) translateY(-50%));
  text-align: center;
  width: 80%;
}

.card-product-name {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  line-height: 1.4;
}

.card-product-detail {
  color: #888;

  &.fix-bottom {
    @include position(absolute, null null 1.5em null);
    font-size: 0.85em;
  }

  &.fix-right {
    @include position(absolute, null 1.5em 1.5em auto);
  }

  i {
    margin-right: 0.5em;
  }

  a {
    margin-left: 0.25em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
