.filters {
  @include outer-container;
  padding-bottom: 1.5em;

  a.back-link {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;

    i {
      @include position(-2px null null null);
      margin-right: 0.25em;
    }

    &:hover {
      text-decoration: underline;
    }

    &.solo {
      margin-bottom: 0;
    }
  }

  label.hide {
    opacity: 0;
  }

  h5 {
    &.u-pull-left {
      margin-bottom: 0;
    }
  }

  form {
    margin-bottom: 0;
  }

  button, .button {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 36px;
  }
}
